@charset 'UTF-8';

div{
    background-color: aquamarine;
    height: 200px;
    width: 200px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: lightslategrey;
    padding: 10px 10px 10px 10px;
    margin: 10px auto 10px auto;
}

a{
    border-style: solid;
    border-width: 10px;
    padding: 2px 2px 2px 2px;
    margin: 10px 10px 10px 10px;
    
}