@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to top, #FA7F08,#F24405);
    background-attachment: fixed;
}
main{
    border-radius: 30px;
    box-shadow: 2px 2px 2px #683604e7;
    background-color: #ffffff;
    width: 600px;
    padding: 20px;
    margin: auto;
}
h1{
    text-shadow: 2px 2px 2px #3ca0a0;
    text-align: center;
    color: #348888;
}
h2{
    color:#22BABB
}

p{
    text-align: justify;
}
