@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to top, #9EF8EE, #22BABB);
    background-attachment: fixed;
}

main{
    background-color: aliceblue;
    width: 600px;
    padding: 20px;
    margin: auto;
    border-radius: 30px;
    box-shadow: 10px 10px 9px #188383;
}

h1{
    text-align: center;
    color: #F24405;
    text-shadow: 2px 2px 2px #7c2303;
}
 
h2{
    
    color: #FA7F08;
}

p{
    text-align: justify;
}